header,
nav,
footer{
  display: block;
}
body {
  background-color: #FE9A2E;
}
#wrapper {
  width: 560px;
  margin:  0px auto;
  background-color:  #FFFFFF;
  margin-top: 20px;
  padding: 20px;
}
header{

}
#content {

}
nav{

}
footer {

}
